.navbar{
    background: rgba(41, 179, 233, 0.664) ;
}
header .navbar-nav
{
    color: #ffff;
    padding: 1rem 4rem 1rem 4rem;
}
header .navbar-brand{
    padding-left: 2rem;
    color: #ffff;
}
.nav-item{    
    padding-left: 1rem;
}
.nav-link{
    color: #ffff;
}
.nav-link:hover{
    color: blue;
}
.nav-link i{
    padding-left: 1rem;
}
.download-button{
    margin-right: 1.5rem;
    text-align: center;
    padding:.5em 2rem;
    border-radius: 8px;
    color: black;
    background: yellow;
}
.hero-slider .caption{
padding-top: 12rem;
padding-left: 4rem;
padding-bottom: 6rem;
color: #ffff;
}
.caption h1{
    font-size: 5rem;
}
.caption .btn-main{
    border: none;
    background: black;
    color: #ffff;
    margin-top: 1rem;
    padding: 5px 20px;
    border-radius: 8px;
    text-align: center;
    margin-left: 10px;

}

.slider-item{
    height: auto;
    min-height: 350px;
    background-size: cover;
    background-repeat: no-repeat;
  
}
.aboutus{
    padding: 2rem;
}
.images img{
    width: 18rem;
    border-radius: 10px;
}
.image-top{    
    padding: 1rem;
}
.image-btm{ 
    display: inline-flex;  
    padding: 1rem;
}
.blank-image{
    position: relative;
    top: 7rem;
    left: 2rem;          
    height: 5rem;
    width: 5rem;    
    border: 1px solid black;
    border-radius: 10px;
}
.left-img{
    position: relative;
    left: 1rem;
    top: 6rem;
}
.about{
    padding-top: 7rem;
    margin-left: 0;
}
.about h2{   
    color: rgb(65, 185, 241);
}
.cards .vision{
    margin-left: 17rem;
    align-items: right;
    border: none;
    border-radius: 8px;
    box-shadow: 0 0 10px #dadada;
    color: rgb(65, 185, 241);
}
.vision .card-body{
    padding: 1.5rem 1rem;
}
.cards .mision{
    margin-right: 17rem;
    align-items: right;
    border: none;
    border-radius: 8px;
    box-shadow: 0 0 10px #dadada;
    color: rgb(65, 185, 241);
}

.values{    
    padding: 4rem 6rem;
    padding-bottom: 8rem;
}
.values h4{
    text-align: center;
    font-size: 2rem;
    padding-bottom: 1rem;
}
.values .card{
    border-radius: 10px;
    border: none;    
}
.values .card-text{
    font-size: 1rem;
    text-align: center;
}
/* .blank{
    
    position: relative;
    top: -16rem;
    width: 100%;
    height: 7rem;
    background: lightgrey;
} */



/* section2 */
.back-image img{
    background-repeat: no-repeat;
    background-size: cover;
    background: #ffff;
    width: 40%;
    height: 35rem;
    opacity: 0.7;
}
.overly-section{
    position: relative;
      top: -32rem;
}
.gallery img{
  width: 100%;
  height: 28rem;
  margin-left: 5rem;
}
.image-icon{      
    background: #ffff; 
    padding-top: 2rem;   
  text-align: center;
}
.icons-top{
    display: flex;
    padding-left: 4rem;
}
.icons-bottom{
    display: flex;
    padding-left: 4rem;
    padding-top: 1rem;
}
.icon{
    padding-left: 4rem;
    text-align: center    
}
.icon i{
    font-size: 4rem;
    color: rgb(65, 185, 241);
}
.icon h2{
    color: rgb(65, 185, 241);
    font-size: 2rem;
}
.icon h3{
   font-size: 1rem;
}
/* section3 */
.section3{
    padding: 3rem;
    background: #ffff;
}
.brands{
    text-align: center;
    display: flex;   
}
.brand{
    padding: 2rem;
}
/* section4 */
.section4{
    padding: 2rem 4rem;
}
.section4 img{
    width: 25rem;
    height: 35rem;

}
.template{
    padding-top: 25rem;
}
.template button{
    display: inline-flex;
    padding: 10px 3rem;
}
.template button img{
   padding-right: 1em;
}
.template img{
    width: 45px;
    height: 45px;
}

/* media qureyy */
/* @media (min-width:320px) and (max-width:484px){
    
} */








/* ========================media queries    =================== */
/* @media (min-width: 576px) { 
    .hero-slider .caption{
        padding-top: 8rem;
        padding-left: 2rem;
        padding-bottom: 4rem;
        color: #ffff;
        }
        .caption h1{
            font-size: 3rem;
        }
        .aboutus{
            text-align: center;           
        }
        .images img{
            padding-top: 1rem;
            width: 18rem;
            border-radius: 10px;
        }       
        .image-btm{ 
            text-align: center;
            display: block;  
            padding: 1rem;
        }
        .blank-image{
            display: none;           
        }
        .left-img{
            position: static;
           
        }
        .about{
            padding-top: 1rem;
            text-align: center;           
        }
        .about h2{   
            color: rgb(65, 185, 241);
        }
        .about p{
            text-align: center;
            padding-right: 2rem;
        }
        .cards .vision{
            margin-top: 1rem;
            margin-left: 4rem;
            text-align: center;
            color: rgb(65, 185, 241);
            border: none;
            border-radius: 8px;
            box-shadow: 0 0 10px #dadada;
        }       
        .cards .mision{
            margin-top: 3rem;
            margin-left: 4rem;
            text-align: center;
            color: rgb(65, 185, 241);
            border: none;
            border-radius: 8px;
            box-shadow: 0 0 10px #dadada;
        }
        .values{    
            padding: 2rem 8rem;
            padding-bottom: 4rem;
        }
        .values h4{
            text-align: center;
            font-size: 1.8rem;
            padding-bottom: 1rem;
        }
        .values .card{                     
            text-align: center;
            border-radius: 10px;
            border: none;   
            margin: 1rem; 
        }
        .values .card-text{
            font-size: 1.5rem;
            text-align: center;
        }
        .back-image img{
            background-repeat: no-repeat;
            background-size: cover;
            background: #ffff;
            width: 100%;
            height: 25rem;
            opacity: 1;
        }
        .overly-section{
            position: static;            
        }
        .gallery img{
         display: none;
        }
        .image-icon{      
            background: #ffff; 
            display: inline-block;
            padding-left: 0;           
            text-align: center;
        }
        .icons-top{
            text-align: center;            
        }
        .icons-bottom{
            text-align: center;           
            padding-top: 1rem;
        }
        .icon{            
            text-align: center    
        }
        .icon i{
            font-size: 3rem;
            color: rgb(65, 185, 241);
        }
        .icon h2{
            color: rgb(65, 185, 241);
            font-size: 1.8rem;
        }
        .icon h3{
           font-size: 1rem;
        }
        .section3{           
            background: #ffff;
        }
        .brands{
            text-align: center;
            display: flex;   
        }
        .brand{
            text-align: center;
            padding: 2rem;
        } */
        /* section4 */
/* .section4{
    padding: 2rem 4rem;
}
.section4 img{
    width: 90%;
    height: 35rem;
    text-align: center;

}
.template{
    text-align: center;
    padding-top: 2rem;
}
.template button{
    text-align: center;
    display: inline-flex;
    padding: 10px 3rem;
}
.template button img{
    padding-right: 1em;
 }
.template img{
    
    width: 45px;
    height: 45px;
}
 } */


 /*=================== media screen min 768px=============== */
 /* @media (min-width: 768px) {
    .hero-slider .caption{
        padding-top: 6rem;
        padding-left: 4rem;
        padding-bottom: 4rem;
        color: #ffff;
        }
        .caption h1{
            font-size: 3.5rem;
        }
        .caption .btn-main{
          
            margin-top: 1rem;
            padding: 3px 18px;
            border-radius: 8px;
            text-align: center;
            margin-left: 8px;
        
        }        
       
  } */



/* media queries */
/* @media (min-width:1200px){
    .cards{
        margin: 2rem 15rem;
    }
}  */
/* @media (max-width:1200px){
    .download-button{
        font-size: 5vmin;
        margin-right: 1rem;
        text-align: center;
        padding:1vmin 10vmin;
        border-radius: 8px;
        color: black;
        background: yellow;
    }
    .cards{
        margin: 2rem 10rem;
    }
    .values{    
        padding: 4rem 3rem;       
    }
    
} 
@media (max-width:992px){
    .cards{
        margin: 2rem 8rem;
    }
    .values{    
        padding: 4rem 0;       
    }    
} 
@media (max-width:767px){
    .cards{
        margin: 2rem 8rem;       
    }
    .vision {   
        margin-top: 2rem;
        border: none;
        border-radius: 10px !important;
        text-align: center;
    }   
    .template{
        padding-top: 8rem;
        padding-left: 5rem;
    }
}  */
/* @media  (min-width:768px){
    .cards{
        margin: 2rem 7rem;       
    }  
    .vision {   
        margin-top: 2rem;
        border: none;
        border-radius: 10px !important;
        text-align: center;
    }
} */